{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>

            <div class="form-group">
                Discount Percentage
                <input type="number" name="discount_percentage" min="0" max="100">
            </div>

            <div class="form-group">
                Double Deals (1=yes , 0=no)
                <select name="double_deals">
                     <option>1</option>
                     <option>0</option>
                </select>
            </div>

            <div class="form-group">
                Start Date
                <input type="date" name="start_date">
            </div>

            <div class="form-group">
                End Date
                <input type="date" name="end_date">
            </div>

            <br>
            To get the discount above, the customer needs to purchase:

            <div class="form-group">
                <br>
                First Product (catalog number)
                <input type="number" name="first_product" min="0">
            </div>

            <div class="form-group">
                <select name="or_and">
                     <option>OR</option>
                     <option>AND</option>
                </select>
            </div>

            <div class="form-group">
                Second Product (catalog number)
                <input type="number" name="second_product" min="0">
            </div>

        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>

    </form>
</div>

{% endblock content %}
